<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
<meta charset="ISO-8859-1">
<title th:text="${title}">Insert title here</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"	href="/resources/css/bootstrap.min.css">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
<link
	href="//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css"
	rel="stylesheet"/>
<link href="/resources/css/common.css" rel="stylesheet"/>

</head>

<body>

</body>

</html>