<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>

    <div th:fragment="contacts" >
<h3>Contacts:</h3>
    <ul class="list-group list-group-flush">

        <li class="list-group-item" th:attr="con-id=${c.id},con-no=${c.phone}" th:each="c : ${contacts}" th:text="${c}"></li>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item" th:each="p : ${#numbers.sequence( startPage, endPage)}"><a class="page-link" th:onclick="|contactsRequest(${p})|" href="#"th:text="${p}">1</a></li>

                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </ul>
</div>

<div  th:fragment="newContact">
    <h3>New Contact:</h3>
        <form th:action="@{/app/people/contacts/create}" method="post">
            <div class="form-group">
                <input  placeholder="Contact Name:" type="text" name="contactName" id="contactName" maxlength="50"  class="form-control" required/>
            </div>
            <div class="form-group">
                <input placeholder="Phone number:" type="number" name="phoneNumber" id="phoneNumber" class="form-control" required maxlength="15"/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-primary" value="Save"/>
            </div>

        </form>

    <form th:action="@{/app/people/contacts/loadvcf}" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <input type="file" name="file" required="required" accept="vcf"/>
            <input type="submit" value="Import"/>
        </div>


    </form>
</div>

</body>
</html>
