<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>

	<div th:fragment="menuleft">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="#">Panel home</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="#">Nuevo Sms</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Nuevo Contacto</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Nuevo Mensaje Personalizado</a></li>

			<li class="nav-item"><a class="nav-link" href="#">Info Membresia</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Disabled</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Disabled</a></li>
		</ul>

	</div>

</body>
</html>
