<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>

	<div th:fragment="userarea">

        <div>
            <h3>Send Sms</h3>
            <form th:action="@{/app/sms/sendSms}" method="post">
                <div class="form-group">
                    <label > Phone number:</label>
                    <input type="number" name="phoneNumber" id="phoneNumber" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label>Sms:</label>
                    <input type="text" name="sms" id="sms" class="form-control" required maxlength="20"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="Send"/>

                </div>

            </form>

        </div>


	</div>

</body>
</html>
