<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>

<body>

	<div th:fragment="userarea">

        <div>
            <h3>Send Sms</h3>
            <form th:action="@{/app/sms/sendSms}" method="post">
                <div class="form-group">
                    <input  placeholder="Phone number:" type="number" name="phoneNumber" id="phoneNumber" maxlength="13" minlength="5" class="form-control" required/>
                </div>
                <div class="form-group">
                    <input placeholder="Sms:" type="text" name="sms" id="sms" class="form-control" required maxlength="158"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="Send"/>
                </div>

            </form>

        </div>


	</div>

</body>
</html>
