<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Home - JobNext')">

</head>
<body>

	<div th:include="fragments/navbar :: navbar"></div>

	<div class="container">
		<div class="intro center-content">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center m-auto margin-top-20">We Love Creative
						Work</h1>
					<p class="text-center m-auto margin-bottom-40">Tempor enim
						incididunt ab quibusdam eu pariatur do nulla te in sint appellat
						ab aut fore labore de possumus. Elit relinqueret ingeniis lorem
						vidisse, sed malis nulla culpa commodo fugiat a nescius.</p>

					<ul class="icon-box list-inline text-center">
						<li><i class="fa fa-apple"></i></li>
						<li><i class="fa fa-android"></i></li>
						<li><i class="fa fa-windows"></i></li>
						<li><i class="fa fa-linux"></i></li>
					</ul>

				</div>

			</div>
			<!-- row -->

		</div>

		<div th:include="searcher :: searcher"></div>
		
		<div>
				<ul class="list-group"> 
					<li class="list-group-item" th:each="jo : ${jobs}"
						th:text="| ${jo.title} ${jo.description}|"></li>
				</ul>
			</div>

		<!-- intro -->

	</div>
	<!-- container -->

	</header>
	<!-- header -->


	<section id="content1-3" class="content1-3">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="about-content">
						<h1 class="content-title">Welcome To Eden Builder</h1>
						<p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high
							life accusamus terry richardson ad squid. 3 wolf moon officia
							aute, non cupidatat skateboard dolor brunch. Food truck quinoa
							nesciunt laborum eiusmod. Haccusamus terry richardson ad squid.
							pwolf moon officia aute, non cupidatat skateboard. Wolf moon
							officia aute, non cupidatat skateboard dolor brunch. Food truck
							quinoa nesciunt cusamus terry richardson ad squid.</p>

						<div class="text-left">
							<a href="#" class="btn btn-info button">Get Started</a> <a
								href="#" class="btn btn-success button">Download</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!--======== contact =========-->
	<section id="contact3" class="contact3">
		<div class="container">
			<div class="row">
				<div class="contact-overlay">
					<div class="col-md-6">
						<h1 class="section-title">Ask a Question</h1>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="sr-only">Your Name</label> <input type="text"
										name="name" class="form-control" placeholder="Your Name">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="sr-only">Your Email</label> <input type="email"
										name="email" class="form-control" placeholder="Your Email">
								</div>
							</div>
							<!--div class="col-sm-12">
                                        <div class="form-group" data-wow-delay="0.6s">
                                            <label class="sr-only">Phone</label>
                                            <input type="tel" name="phone-number" class="form-control" placeholder="Phone">
                                        </div>
                                    </div-->
							<div class="col-sm-12 ">
								<div class="form-group">
									<label class="sr-only">Massage</label>
									<textarea class="form-control textarea" name="message" rows="5"
										placeholder="Massage"></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<button type="submit" class="btn btn-default ">Send</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<ul class="list-unstyled">
							<li class="addr-title">Address</li>
							<li><i class="fa fa-phone"></i> <span>977) 324 644
									676 / (800) 123 456 789</span></li>
							<li><i class="fa fa-home"></i> <span>5 New York City,
									NY,United States</span></li>
							<li><i class="fa fa-envelope-o"></i> <span>admin@bootexperts.com</span></li>
						</ul>
						<ul class="list-inline social-links">
							<li class="addr-title">Social Link</li>
							<br>
							<br>
							<li><i class="fa fa-linkedin"></i></li>
							<li><i class="fa fa-facebook"></i></li>
							<li><i class="fa fa-twitter"></i></li>
							<li><i class="fa fa-google-plus"></i></li>
							<li><i class="fa fa-dribbble"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section id="footer3" class="footer3">
		<div class="item dark">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center social">
						<h2>We are EDEN Builder!</h2>
						<span>We're social, come meet and meet us:</span><br> <a
							href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-github"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>

		</div>
		<!-- /.item -->

	</section>
	<!-- /.footerWrapper -->


	<div th:include="fragments/header :: footer-home"></div>


</body>
</html>