<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Login - JobNext')">
</head>

<body>

	<script th:inline="javascript" sec:authorize="isAuthenticated()">
    window.location.href = '/';
</script>

<!-- 	<div th:include="fragments/navbar :: navbar"></div> -->
	<div class="container">

		<div class="content">
			<p th:if="${param.logout}" class="alert">You have been logged out</p>
			<p th:if="${param.error}" class="alert alert-error">There was an
				error, please try again</p>

			<form name="form" th:action="@{/login}" action="/login" method="POST"
				class="form-signin">
				<h2 class="form-heading">Login</h2>
				<div class="form-group">
					<input type="text" class="form-control" name="username" value="" placeholder="Username" />
				</div>
				<div class="form-group ">
					<input type="password" name="password" class="form-control"
						placeholder="Password" />
				</div>
				<div class="form-group ">
					<input type="submit" id="login" value="Login"
						class="btn btn-lg btn-primary btn-block" />
				</div>
				<a th:href="@{/registration}">Registration</a>
			</form>
		</div>
		<ul>
			<li th:each="user : ${users}" th:text="|${user.username} ${user.password}|"></li>
		</ul>
		<ul>
			<li th:each="rol : ${roles}" th:text="${rol.name}"></li>
		</ul>
	</div>
	<!-- /container -->

	<div th:include="fragments/header :: footer-home"></div>
</body>
</html>
