<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Login - JobNext')">
</head>

<body>

	<div th:include="fragments/navbar :: navbar"></div>
	<div class="container">

		<div class="content">
			<p th:if="${param.logout}" class="alert">You have been logged out</p>
			<p th:if="${param.error}" class="alert alert-error">There was an
				error, please try again</p>

			<form name="form" th:action="@{/login}" action="/login" method="POST"
				class="form-signin">
				<h2 class="form-heading">Login</h2>
				<div th:class="form-group ">
					<input type="text" name="username" value="" class="form-control"
						placeholder="Username" /> <input type="password" name="password"
						class="form-control" placeholder="Password" /> <input
						type="submit" id="login" value="Login" class="btn btn-primary" />
				</div>
				<a th:href="@{/registration}">Registration</a>
			</form>
		</div>
		<ul>
			<li th:each="user : ${users}" th:text="|${user.username}|"></li>
		</ul>
		<ul>
			<li th:each="rol : ${roles}" th:text="${rol.name}"></li>
		</ul>
	</div>
	<!-- /container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>
