<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Login - JobNext')">
</head>

<body>

	<div th:include="fragments/navbar :: navbar"></div>
	<div class="container">
		<!-- 	AÑADIR CONTENIDO AQUI  -->
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title" th:text="${user.username}">Card title</h5>
				<h6 class="card-subtitle mb-2 text-muted" th:text="${user.Email}">Card subtitle</h6>
				<p class="card-text">Some quick example text to build on the
					card title and make up the bulk of the card's content.</p>
				<a href="#" class="card-link">Card link</a> <a href="#"
					class="card-link">Another link</a>
			</div>
		</div>


	</div>
	<!-- /container -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
</body>
</html>
