<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Login - JobNext')">
</head>

<body>

	<div th:include="fragments/navbar :: navbar"></div>
	<div class="container">

		<div class="row align-items-start">
			<div class="col-6 col-md-4" >
			</div>
			<div class="col-12 col-md-8">
				<div th:include="people/notifications :: notifications"></div>
			</div>

		</div>
		<div class="row align-items-center">
			<div class="col-6 col-md-4">
				<div th:include="people/menuleft :: menuleft"></div>

			</div>
			<div class="col-12 col-md-8">
				<div th:include="people/userarea :: userarea"></div>

			</div>
		</div>
		<div class="row align-items-end">
			<div class="col" contenteditable="inherit">

				<div class="alert alert-secondary" role="alert">A simple
					secondary alertcheck it out!</div>
			</div>

		</div>

		<!-- 	AÑADIR CONTENIDO AQUI  -->


	</div>
	<!-- /container -->
	<div th:include="fragments/header :: footer-home"></div>
</body>
</html>
