<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Registration - JobNext')">

</head>
<body>
	<div class="container">
	<div th:include="fragments/navbar :: navbar"></div>
	
	
		<form method="post" th:object="${user}" th:action="@{/registration}" class="form-signin">
		<h2 class="form-signin-heading">Create your account</h2>
			<div class="form-group">
				<input type="text" th:field="*{userName}" class="form-control"
					placeholder="Username" autofocus="true"></input>
			</div>
			<div class="form-group">
				<input type="password"  th:field="*{pass}" class="form-control"
					placeholder="Password"/>

			</div>
			<div class="form-group">
				<input type="password" th:field="*{passwordConfirm}" class="form-control"
					placeholder="Confirm your password" />
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</div>
		</form>




	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/listeners.js"></script>
	<script src="/resources/js/ajax.js"></script>
	<script src="/resources/js/jqueryui/jquery-ui.js"></script>

</body>
</html>