<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header('Login - JobNext')">
</head>

<body>

	<div th:include="fragments/navbar :: navbar"></div>
	<div th:fragment="searcher">


		<form>
			<div class="form-inline">
				<input type="search" class="form-control "
					placeholder="Ocupacion..." /> <input type="submit"
					class="btn btn-default" value="Buscar ofertas" />

			</div>
		</form>



	</div>
	<!-- /container -->
	<div th:include="fragments/header :: footer-home"></div>
</body>
</html>
